<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <title>GRACE</title>

    <!-- css -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
	  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
          <div id="navleft" class="flex w-full justify-end items-center lg:px-4 md:px-3 sm:px-2 h-[7vh] bg-black opacity-30">
              <a href="/" class="text-white font-bold p-2">Home</a>
              <a href="/about" class="text-white p-2">About</a>
              <a href="/map" class="text-white p-2">Star Map</a>
          </div>
      </nav>

    </header>

    {% block content %}{% endblock %}


    <!-- <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script> -->
  
    <!-- scripts -->
    {% block scripts %}{% endblock %}

  </body>
</html>
