
{% extends "base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}



{% block content %}

<div class="bg-black w-full h-[85vh]">
    <div class="flex items-center justify-center">
        <img src="../static/logo.svg" alt="logo" class="h-[80vh] w-[80%] mr-2">
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/projection.js') }}"></script>




{% endblock %}
