{% block head %}
  <head>
    <meta charset="utf-8" />
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <title>GRACE</title>

    <!-- css -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
	  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
  </head>
{% endblock %}

{% block content %}
<video id="vidbox" class="vidbox" hidden width="1920" height="1080" controls>
  <source src="">
  Your browser does not support the video tag.
</video>
<div class="starmap-container" style="position: relative;">
    <!-- Navigation Bar -->
    <nav style="position: absolute; top: 0; width: 100%; z-index: 2;">
        <div class="flex w-full justify-between items-center lg:px-4 md:px-3 sm:px-2 h-[7vh] bg-transparent">
            <div class="flex justify-center items-center whitespace-nowrap">
                <img src="../static/logo.svg" alt="logo" class="h-10 mr-2">
                <a href="/" class="text-purple-500 font-bold p-2 text-lg">GRACE</a> 
            </div>
            <div id="navleft" class="flex w-full justify-end items-center lg:px-4 md:px-3 sm:px-2 h-[7vh] bg-tranparent">
                <a href="/" class="text-white font-bold p-2">Home</a>
                <a href="/about" class="text-white p-2 font-bold">About</a>
                <a href="/map" class="text-white p-2 font-bold">Star Map</a>
            </div>
        </div>
    </nav>
    
    <!-- Star Map -->
    <div class="flex w-full h-full">
        <div id="starmap" style="width:100%;height:100vh;"></div>
        <div>
            <iframe id="myIframe" src="http://server1.sky-map.org/skywindow?object=M100&zoom=8&img_source=SDSS" width=400 height=320>
            </iframe>
            <div class="flex-col p-2 h-fit w-full bg-gray-400">
                <p id="objectName" class="text-white font-bold">No Object Selected</p>
                <p id="objectRA" class="text-white font-bold">Right Ascension (East-West): No Object Selected</p>
                <p id="objectDEC" class="text-white font-bold">Declination (North-South): No Object Selected</p>
                <p>Related Research</p>
                <p id="research">No Object Selected</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/projection.js') }}"></script>
<script src="{{ url_for('static', filename='js/stuquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/virtualsky.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function decToDMS(decimal, form) {
      // Get the degrees
      var degrees = Math.floor(decimal);

      // Calculate the remaining minutes
      var minutesDecimal = (decimal - degrees) * 60;
      var minutes = Math.floor(minutesDecimal);

      // Calculate the remaining seconds
      var seconds = (minutesDecimal - minutes) * 60;

      if(form == 0) {
        return degrees + "° " + minutes + "' " + seconds.toFixed(2) + "'' ";
      } else {
        return degrees + "h " + minutes + "m " + seconds.toFixed(2) + "s ";
      }
    }

    var planetarium;

    // We vary shown_objects based on user input; 
    // e.g. if they enable Messier catalogues, 
    // then we add "messier.json" to the shown_objects
    // string so it can be rerendered like below
    var shown_objects = "../static/js/messier.json";

    // Pass in a JSON object
    var input = {
        id: 'starmap',
        projection: 'stereo', 
        live: true,
        gridlines_az: false,
        latitude: 34.4326, 
        longitude: -119.86286,
        showposition: false,
        showdate: false,
        showtime: false,
        constellations: true,
        constellationlabels: true,
        // objects: shown_objects,
        callback: {
            'click': function(e){
                e.nearest = e.data.sky.nearestObject(e.x,e.y);
                console.log(e.nearest);
                changeIFRAME(e.nearest);
            }
        } 
    };

    S(document).ready(function() {
        planetarium = S.virtualsky(input);
    });
    
    function changeIFRAME(nearest) {
        var ra = decToDMS(nearest.data.ra, 1);
        var dec = decToDMS(nearest.data.dec, 0);

        var src = "http://www.sky-map.org/skywindow?object=" 
                + nearest.label.toLowerCase() + "&zoom=5" +
                "&box_color=green&box_width=100&box_height=100&img_source=DSS2";
        console.log(src)
        document.getElementById('objectName').innerText = nearest.label;
        document.getElementById('objectRA').innerText = "Right Ascension (East-West): " + ra;
        document.getElementById('objectDEC').innerText = "Declination (North-South): " +dec;
        document.getElementById('myIframe').src = src;

        var titleRequest = sendRequest(nearest.label);
        titleRequest.done(function(data) {
            if(data.titles.titles.length != 0) {
                document.getElementById('research').innerText = data.titles.titles[0];
            } else {
                document.getElementById('research').innerText = "No relevant research";
            }
        });
    }  

$(document).ready(function(){
 // sending a connect request to the server.
 var socket = io.connect('http://localhost:5002');
});

document.addEventListener("DOMContentLoaded", () => {
                    var video = document.getElementById('vidbox');

        let mediaDevices = navigator.mediaDevices;
        mediaDevices
            .getUserMedia({
                video: true,
                audio: false,
            })
            .then((stream) => {

                // Changing the source of video to current stream.
                video.srcObject = stream;
                video.play();

            })
            .catch(alert);
    });


setInterval(function myFunction(){
            var video = document.getElementById('vidbox');

  const canvas = document.createElement('canvas');
      const ctx = canvas.getContext('2d');
       ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
      const imageData = canvas.toDataURL('image/jpeg');
    socket.emit("lightcapture", {data:imageData})
}, 300 );


socket.on('redirect_calibrate', function(data) {
  window.location.replace("http://127.0.0.1:5002/calibration");
});

socket.on('lightcoords', function(data) {
    console.log(data);
})

function sendRequest(input) {
    return $.ajax({
        url:"/_adsdata",
        type:"POST",
        data: JSON.stringify(input),
        dataType:"json",
        contentType:"application/json"
    });
}
</script>
{% endblock %}
